@using Microsoft.AspNetCore.Identity
@using PerformanceManagement.ENTITIES
@using Microsoft.AspNetCore.Http;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var userConnected = await UserManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectF</title>
    <!-- Font Awesome -->
    <link href="~/theme/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/theme/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>
        #header_largelogo {
            max-width: 250px;
            max-height: 50px;
        }

        #header_tinylogo {
            left: unset;
            right: 5px;
        }
     
    </style>
</head>
@RenderSection("head", required: false)
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        @if (SignInManager.IsSignedIn(User))
        {
            <!-- Navbar -->
            <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <a asp-action="Index" asp-controller="Home" class="nav-link">Home</a>
                    </li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-item d-none d-sm-inline-block">
                            <a class="nav-link" asp-action="Index" asp-controller="Admin">
                                <i class="fas fa-user-cog">
                                    <span class="badge badge-light float-lg-right">Admin</span>
                                </i>
                            </a>
                        </li>
                    }
                </ul>

                <!-- SEARCH FORM -->
                <form class="form-inline ml-3">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Right navbar links -->
                <ul class="navbar-nav ml-auto">
                   

                    <li class="nav-item dropdown user-menu">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            <img src="~/theme/dist/img/@userConnected.Userimage" class="user-image img-circle elevation-2" alt="User Image">
                            <span class="d-none d-md-inline">@userConnected.UserName</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <!-- User image -->
                            <li class="user-header bg-primary">
                                <img src="~/theme/dist/img/@userConnected.Userimage" class="img-circle elevation-2" alt="User Image">

                                <p>
                                    Wijden - Software Engineer
                                    <small>Member since @userConnected.Created </small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-sm-4 text-left">
                                        <a asp-action="Profile" asp-controller="Users" asp-route-idUser="@UserManager.GetUserId(User)" class="nav-link">
                                            Profile
                                        </a>
                                    </div>
                                    <div class="col-sm-3 text-center">
                                        <a asp-action="Index" asp-controller="Badge" asp-route-idUser="@UserManager.GetUserId(User)" class="nav-link">
                                            Badges
                                        </a>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a asp-action="Employees" asp-controller="Users" class="nav-link">
                                            Employees
                                        </a>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <a class="btn btn-default btn-flat" asp-action="Profile" asp-controller="Users" asp-route-idUser="@UserManager.GetUserId(User)">
                                    Hello @UserManager.GetUserName(User)!
                                </a>
                                <form id="logoutForm" class="float-right" asp-area="Identity" asp-page="/Account/Logout">
                                    <button id="logout" type="submit" class="btn btn-default btn-flat float-right">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <i></i>
                    </li>
                </ul>
            </nav>
            <!-- /.navbar -->
        }

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a  asp-action="Index" asp-controller="Home" class="brand-link logo-switch">
                <img id="header_tinylogo" src="~/theme/dist/img/backgroundlogo.png" width="100" alt="Logo Small" class="brand-image-xl center logo-xs">
                <img id="header_largelogo" src="~/theme/dist/img/LOGOEmployee.png" alt="Logo Large" class="brand-image-xs logo-xl" style="left: 40px">
            </a>

            <!-- Sidebar -->
            <div class="sidebar os-host os-theme-light os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-scrollbar-vertical-hidden os-host-transition">
                @if (SignInManager.IsSignedIn(User))
                {
                    @*<ul class="nav nav-pills nav-sidebar flex-column">
                        <li class="navbar-brand">
                            <span class="brand-text text-white">Performance Management</span>
                        </li>
                    </ul>*@
                    <!-- Sidebar user (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="~/theme/dist/img/@userConnected.Userimage " class="img-circle elevation-2" alt="User profile picture">
                        </div>
                        <div class="info">
                            <a href="#" class="d-block"> @userConnected.UserName</a>
                        </div>
                    </div>
                }

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Home" class="nav-link">
                                    <i class="nav-icon fa fa-fw fa-home"></i>
                                    <p>
                                        Home
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Profile" asp-controller="Users" asp-route-idUser="@UserManager.GetUserId(User)" class="nav-link">

                                    <i class="nav-icon fa fa-fw fa-user"></i>
                                    <p>
                                        Profile
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Index" asp-controller="Badge" asp-route-idUser="@UserManager.GetUserId(User)" class="nav-link">

                                    <i class="nav-icon fas fa-award"></i>
                                    <p>
                                        Badges
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="VoteRights" asp-controller="VoteRights" asp-route-userId="@UserManager.GetUserId(User)" class="nav-link">

                                    <i class="nav-icon fas fa-award"></i>
                                    <p>
                                        VoteRights
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="Employees" asp-controller="Users" class="nav-link">
                                    <i class="nav-icon fas fa-users"></i>
                                    <p>
                                        Employees
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="HelpCenter" asp-controller="Systeme" class="nav-link">
                                    <i class="nav-icon fas fa-question-circle"></i>
                                    <p>
                                        HelpCenter
                                    </p>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>


        @RenderBody()
    <footer class="main-footer">
        <div class="float-right d-none d-sm-block">
            <b>@DateTime.Now.Year</b>
        </div>
        <strong>Performance Management <a href="#"></a></strong> 
    </footer>

        
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/theme/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/theme/dist/js/adminlte.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
