@model ProjectF.ViewModels.VoteRightsViewModel


@{
    ViewData["Title"] = "Index";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">


            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="card-body">
                        <h2>Votes </h2>
                        <hr>
                        <table class="table table-striped projects">
                            <thead>
                            <th style="width:20%">
                                Votes
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Offer To
                            </th>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.VoteRightsDtos)
                                {
                                    <tr>
                                        <td> @item.Title </td>
                                        <td>
                                            @item.Quantity
                                        </td>
                                        <td>
                                            <ul class="navbar-nav ml-auto">
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link" data-toggle="dropdown" href="#">
                                                        <span class="badge badge-warning">Offer</span>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu">
                                                        <span class="dropdown-item dropdown-header">List of Employees To choose from</span>
                                                        <div class="dropdown-divider"></div>
                                                        <ul class="users-list clearfix">
                                                            @foreach (var iitem in Model.UsersDtos)
                                                            {
                                                                <li>
                                                                    <img src="~/theme/dist/img/@iitem.Userimage" alt="User Image">
                                                                    @*@Html.ActionLink(@iitem.Username, "Awards", "Vote", new { idUserChosen = iitem.Id, idVote = item.Id, idUserOwner = item.UserId })*@
                                                                    <input type="button" onclick="PassingData(@iitem.Id,@item.Id,@item.UserId)" class="text-dark" style="border:none; background-color:transparent" value="@iitem.Username" />
                                                                </li>
                                                            }

                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>





                <div id="details">
                    <!-- mustachejs output goas here -->
                </div>

                <!-- Vote Cards -->
                <!-- Awards Cards -->
                <hr>
            </div>
        </div>




        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </section>
</div>
<!-- ./wrapper -->
<script id="DetailTemplate" type="text/mustache">
    <div class="card-body">
        <h2>Awards </h2>
        <hr>
        <table class="table table-striped projects">
            <thead>
            <th style="width: 20%">
                Votes
            </th>
            <th>
                Given to
            </th>

            <th> Offered in </th>
            </thead>
            <tbody>
                {{#Vlist}}
                <tr>
                    {{#userOwner}}
                    {{#voteRights}}
                    <td>{{title}}</td>
                    {{/voteRights}}
                    {{/userOwner}}
                    {{#userChosen}}
                    <td>
                        <figure class="figure">
                            <img alt="Avatar" class="table-avatar" src="/theme/dist/img/{{{userimage}}}" />
                            <figcaption class="figure-caption text-center">{{username}}</figcaption>
                        </figure>
                    </td>
                    {{/userChosen}}
                    <td>{{dateOfVote}}</td>
                </tr>
                {{/Vlist}}
            </tbody>
        </table><br />
    </div>
</script>

@section scripts {

    <script src="~/Scripts/mustache.js"></script>
    <script type="text/javascript">
        function PassingData(Id1, Id2, Id3) {
            $.ajax({
                url: "/VoteRights/VoteRegistration",
                type: "GET",
                dataType: "json",
                data: { idUserChosen: Id1, idVote: Id2, UserId: Id3 },
                success: function (data) {
                   var html = Mustache.to_html($("#DetailTemplate").html(), { Vlist: data });
                        $("#details").html(html);
                },
                error: function (xhr, status, error) {
                        alert(xhr.responseText);
                        alert(status);
                        alert(error);
                    }
            });
        }
    </script>

}
