@model ProjectF.ViewModels.UserSystemForNewSysteme
@{
    ViewData["Title"] = "CreateUsersSystemForNewSysteme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Project Add</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">SystemManagement</a></li>
                        <li class="breadcrumb-item active">Systeme Add</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">General</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-action="CreateUsersSystemForNewSysteme" asp-controller="Admin">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                @for (var i = 0; i < Model.Users.Count; i++)
                                {
                                    <fieldset class="filter-row">
                                        <div>
                                            <ul>
                                                <li>
                                                    <div class="checkbox">
                                                        <input type="hidden" asp-for="@Model.Users[i].Value" />
                                                        <input asp-for="Users[i].Selected" />
                                                        <label>@Model.Users[i].Text</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </fieldset>

                                    <fieldset class="filter-row">
                                        <div class="row-section">
                                            <div class="row-heading" hidden>@Model.Users[i].Text</div>
                                            <ul>
                                                <li>
                                                    <div class="checkbox">
                                                        <small> If the service require an identifier , please check your local server and insert it here ! </small>
                                                        <div class="form-group">
                                                            <label asp-for="@Model.systemUserViewModels[i].UserSystemesIds">Systemes:</label>
                                                            <select type="button" class="btn btn-md btn-secondary" asp-for="@Model.systemUserViewModels[i].IdUsersystemselected" asp-items="@Model.systemUserViewModels[i].UserSystemesIds">
                                                                <option value="" selected disabled>--  user Name identifier --</option>
                                                            </select>
                                                            <span asp-validation-for="@Model.systemUserViewModels[i].IdUsersystemselected" class="text-danger"></span>
                                                        </div>

                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input asp-for="@Model.systemUserViewModels[i].systemeUser.UrlUserSystemAccount" class="form-control" placeholder="Modify user service url Account" />
                                                        <input type="hidden" asp-for="@Model.systemUserViewModels[i].systemeUser.SystemeId" value="@Model.SystemeId" />
                                                        <input type="hidden" asp-for="@Model.systemUserViewModels[i].systemeUser.UserId" value="@Model.Users[i].Value" />
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </fieldset>
                                }




                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Save</button>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section scripts {
    <script>
        $(document).ready(function () {
            $(".row-section").hide();
            $("input:checkbox").change(function () {
                var clickedText = $(this).siblings('label').text();
                $(".row-section").filter(function () {
                    var txt = $(this).find("div.row-heading").text();
                    return txt === clickedText;
                }).toggle($(this).is(':checked'));
            });
             });
    </script>
}
