@model ProjectF.ViewModels.SystemUser
@using PerformanceManagement.ENTITIES
@{
    ViewData["Title"] = "CreateUserSystem";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Configure user services</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Configure user services</a></li>
                        <li class="breadcrumb-item active">Configure user services</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Configure services</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-action="CreateUserSystem" asp-controller="Admin">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                @for (var i = 0; i < Model.Systemes.Count; i++)
                                {

                                    <fieldset class="filter-row">
                                        <div>
                                            <ul>
                                                <li>
                                                    <div class="checkbox">
                                                        <input type="hidden" asp-for="@Model.Systemes[i].Value" />
                                                        <input type="checkbox" asp-for="Systemes[i].Selected" />
                                                        <label>@Model.Systemes[i].Text</label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </fieldset>

                                    <fieldset class="filter-row">
                                        <div class="row-section">
                                            <div class="row-heading" hidden>@Model.Systemes[i].Text</div>
                                            <ul>
                                                <li>
                                                    <div class="checkbox">
                                                        <small> If the service require an identifier , please check your local server and insert it here ! </small>
                                                        <input asp-for="@Model.systemeUsers[i].Identifier" class="form-control" placeholder="Modifie user service Identifier" />
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="checkbox">
                                                        <input asp-for="@Model.systemeUsers[i].UrlUserSystemAccount" class="form-control" placeholder="Modify user service url Account" />
                                                        <input type="hidden" asp-for="@Model.systemeUsers[i].SystemeId" value="@Model.Systemes[i].Value" />
                                                        <input type="hidden" asp-for="@Model.systemeUsers[i].UserId" value="@Model.userId" />
                                                    </div>


                                                </li>
                                            </ul>
                                        </div>
                                    </fieldset>
                                }
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Save</button>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section scripts {
    <script>
        $(document).ready(function () {
            $(".row-section").hide();
            $("input:checkbox").change(function () {
                var clickedText = $(this).siblings('label').text();
                $(".row-section").filter(function () {
                    var txt = $(this).find("div.row-heading").text();
                    return txt === clickedText;
                }).toggle($(this).is(':checked'));
            });
             });
    </script>
}
