@model IEnumerable<PerformanceManagement.ENTITIES.Systeme>
@{
    ViewData["Title"] = "SystemManagement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Systemes</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Systemes</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Systemes</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <br />
                <a class="btn btn-primary btn-sm" asp-controller="Admin" asp-action="CreateSysteme">Add new Service</a>
                <hr style="width:40%" />
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                            </th>
                            <th style="width: 20%">
                                Systemes Name
                            </th>
                            <th style="width: 30%">
                                Badges
                            </th>
                            <th>
                                Description
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var systeme in Model)
                        {
                            <tr>
                                <td>
                                </td>
                                <td>
                                    <a>
                                        @systeme.SystemName
                                    </a>
                                    <br />
                                    <small>
                                        Created @systeme.Created.ToString("dd/MM/yyyy")
                                    </small>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        @foreach (var badge in systeme.Badges)
                                        {
                                            <li class="list-inline-item">
                                                <a asp-action="Details" asp-controller="Badge" asp-route-idBadge="@badge.Id"><img alt="Avatar" class="table-avatar" src="~/theme/dist/img/@badge.Icon "></a>
                                            </li>
                                        }
                                    </ul>
                                </td>
                                <td class="project_progress">
                                    <small>
                                        @systeme.Description
                                    </small>
                                </td>
                                <td class="project-actions text-right">
                                    @*<a class="btn btn-primary btn-sm" href="#">
                                            <i class="fas fa-folder">
                                            </i>
                                            View
                                        </a>*@
                                    <a class="btn btn-info btn-sm" asp-action="updateSystem" asp-route-systemeId="@systeme.Id">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Edit
                                    </a>
                                    @if (!@systeme.SystemIsArchieved)
                                    {
                                        <a onclick="Desctivate(@systeme.Id)" class="btn btn-danger btn-sm" href="#">
                                            <i class="fas fa-trash">
                                            </i>
                                            Disable System
                                        </a>
                                    }
                                    else if (@systeme.SystemIsArchieved)
                                    {
                                        <a onclick="Activate(@systeme.Id)" class="example2 btn btn-success btn-sm" href="#">
                                            <i class="fas fa-toggle-on">
                                            </i>
                                            Enable System
                                        </a>
                                    }
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section scripts{
    <script>
        function Desctivate(id) {
            $.confirm({
                title: 'Confirm!',
                content: 'Simple confirm!',
                buttons: {
                    confirm: function () {
                        $.ajax({
                            url: "/Admin/disabelSysteme",
                            type: "POST",
                            dataType: "json",
                            data: { SystemId: id },
                            success: function (data) {
                                if (data.success) {
                                    alert(data.responseText);
                                    window.location.reload(true);
                                }
                                else {
                                    alert(data.responseText);
                                }
                            }
                        });
                        $.alert('Confirmed!');
                    },
                    cancel: function () {
                        $.alert('Canceled!');
                    },
                }
            });
        }






            //function Activate(id) {
            //    if (confirm("Are you Sure you want to enable this User?")) {
            //        $.ajax({
            //            url: "/Admin/activateUser",
            //            type: "POST",
            //            dataType: "json",
            //            data: { UserId: id },
            //            success: function (data) {
            //                if (data.success) {
            //                    alert(data.responseText);
            //                    window.location.reload(true);
            //                }
            //                else {
            //                    alert(data.responseText);
            //                }
            //            }
            //        });
            //    }
            //    else {
            //        return false;
            //    }
            //};
    </script>
}
