@model ProjectF.ViewModels.UsersForAdmin
@using Microsoft.AspNetCore.Identity
@using PerformanceManagement.ENTITIES

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "UserManagement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Employees</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">UserManagement</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <br />
                <a class="btn btn-primary btn-sm" id="register" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Url.Action("UserManagement", "Admin", new { area = "" })">  Add new Employee</a>
                <hr style="width:40%" />
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 10%">
                                Employee Name
                            </th>
                            <th style="width: 10%">
                            </th>
                            <th style="width: 20%" class="text-center">
                                Roles
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListusersForAdmins)
                        {
                            @foreach (var role in @item.RolesHeld)
                            {
                                <tr>
                                    <td>
                                        <a>
                                            @item.UserName
                                        </a>
                                        <br />
                                        <small>
                                            Created @item.Created
                                        </small>
                                    </td>
                                    <td>
                                        <center><img alt="Avatar" class="table-avatar" src="~/theme/dist/img/@item.Userimage"></center>
                                    </td>
                                    @if (role.Equals("Administrator") && item.UserId.ToString() == UserManager.GetUserId(User))
                                    {
                                        <td class="project-state">
                                            <span class="badge badge-danger">@role</span>
                                            <br />
                                            <small>
                                                It's YOU !
                                            </small>
                                        </td>
                                    }
                                    else if (role.Equals("Administrator"))
                                    {
                                        <td class="project-state">
                                            <span class="badge badge-danger">@role</span>

                                        </td>
                                    }
                                    else
                                    {
                                        <td class="project-state">
                                            <span class="badge badge-success">@role</span>
                                        </td>
                                    }
                                    <td class="project-actions text-right">
                                        <a class="btn btn-primary btn-sm" asp-action="ficheEmployee" asp-controller="Admin" asp-route-userId="@item.UserId">
                                            <i class="fas fa-folder">
                                            </i>
                                            View
                                        </a>
                                        <a asp-controller="Admin" asp-action="EditUserAccount" asp-route-UserId="@item.UserId" class="btn btn-info btn-sm" >
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Edit
                                        </a>
                                            @if (@item.UserId.ToString() != UserManager.GetUserId(User) && @item.Active)
                                            {
                                                <a onclick="Desctivate(@item.UserId)" class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash">
                                                    </i>
                                                    Disable Account
                                                </a>
                                            }
                                            else if (!@item.Active)
                                            {
                                                <a onclick="Activate(@item.UserId)" class="btn btn-success btn-sm" href="#">
                                                    <i class="fas fa-toggle-on">
                                                    </i>
                                                    Enable Account
                                                </a>
                                            }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section scripts{
    <script>
        function Desctivate(id) {
            if (confirm("Are you Sure you want to Disable this User?")) {
                $.ajax({
                    url: "/Admin/DesactivateUser",
                    type: "POST",
                    dataType: "json",
                    data: { UserId: id },
                    success: function (data) {
                        if (data.success) {
                            alert(data.responseText);
                             window.location.reload(true);
                        }
                        else {
                            alert(data.responseText);
                        }
                    }
                });
            }
            else {
                return false;
            }
        };



        function Activate(id) {
            if (confirm("Are you Sure you want to enable this User?")) {
                $.ajax({
                    url: "/Admin/activateUser",
                    type: "POST",
                    dataType: "json",
                    data: { UserId: id },
                    success: function (data) {
                        if (data.success) {
                            alert(data.responseText);
                             window.location.reload(true);
                        }
                        else {
                            alert(data.responseText);
                        }
                    }
                });
            }
            else {
                return false;
            }
        };
    </script>
}
