@model ProjectF.ModelsDTOS.BadgesForVotes

@using PerformanceManagement.ENTITIES

@{ Layout = null; }



<div class="row">
    <div class="col-md-12">
        <form asp-controller="Badge" asp-action="AddOrEditBadgeVote" asp-route-id="@Model.Id" enctype="multipart/form-data" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="@Model.Id" hidden class="form-control" />
                        <input asp-for="@Model.Created" hidden class="form-control" />
                        <label asp-for="TypeVote">TypeVote:</label>
                        <select type="button" class="btn btn-md btn-secondary" asp-for="TypeVoteId" asp-items="@Model.TypeVote">
                            <option value="" selected disabled>-- Select type Vote --</option>
                        </select>
                        <span asp-validation-for="TypeVoteId" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input asp-for="Title" class="form-control" />
                </div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Icon" class="control-label"></label>
                        <input asp-for="Icon" class="form-control" />
                        <span asp-validation-for="Icon" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="BadgeCriteria" class="control-label"></label><br>
                        <input asp-for="BadgeCriteria" class="fa-sort-numeric-asc" placeholder="BadgeCriteria" />
                        <span asp-validation-for="BadgeCriteria" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Periodicity" class="control-label"></label>
                        <select asp-for="Periodicity" asp-items="Html.GetEnumSelectList<Periodicity>()" class="form-control">
                            <option selected="selected" value="">Please select</option>
                        </select>
                        <span asp-validation-for="Periodicity" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ValueOfPeriodicity" class="control-label"></label>
                        <input asp-for="ValueOfPeriodicity" class="form-control" />
                        @Html.ValidationMessageFor(m => m.ValueOfPeriodicity)
                        @*<span asp-validation-for="ValueOfPeriodicity" class="text-danger"></span>*@
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>







@section Scripts {
   
}
