@model ProjectF.ModelsDTOS.BadgeEntityDto
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3 class="text-primary"><i class="fas fa-info-circle"></i>  Challenge Detail</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">badge-Details</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card card-solid">
            <div class="card-body">
                <div class="row">
                    <div class="col-3 col-sm-3">
                        <h3 class="d-inline-block d-sm-none"> @Model.Title</h3>
                        <div class="col-12">
                            <img src="/theme/dist/img/badge.png" class="product-image" width="10" alt="Product Image">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <h3 class="my-3">@Model.Title </h3>
                        <p>
                            @Model.Description
                        </p>

                        <hr>
                        <div class="text-muted">
                            <p class="text-sm">
                                Badge criteria :
                                <b class="d-block">@Model.BadgeCriteria</b>
                            </p>
                            <p class="text-sm">
                                System Name :
                                <b class="d-block">@Model.Systeme.SystemName</b>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </section>

</div>

