@model ProjectF.ViewModels.BadgesListesViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">badges</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Default box -->
            <div class="row">
                <div class="col-md-12">
                    <h2>Badges </h2>
                    <hr>
                    <div class="card">
                        <div class="card-header p-2">
                            <h2 class="card-title text-primary">This Month achievement</h2>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">Challenges</th>

                                            <th>Your progress</th>
                                            <th style="width: 20%">Started</th>
                                            <th style="width: 20%">Badge-deadline</th>

                                            <th style="width: 20%">
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.BadgesInProgress)
                                        {

                                        <tr>

                                            <td>@item.Badge.Title</td>
                                            <td>
                                                <div class="progress progress-xs">
                                                    <div class="progress-bar bg-green" role="progressbar" aria-volumenow="@item.UserProgression" aria-volumemin="0" aria-volumemax="100" style="width:@item.UserProgression%"></div>
                                                </div>
                                            </td>
                                            <td>@item.StartedAt</td>
                                            <td>@item.BadgeDeadline </td>
                                            <td class="project-actions text-right">

                                                <a class="btn btn-primary btn-sm" href="@Url.Action("Details", "badge", new { idBadge = item.BadgeId })">


                                                    View
                                                </a>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>

                                </table>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <div class="card">
                        <div class="card-header p-2">
                            <h2 class="card-title text-primary">
                                <i class="nav-icon far fa-grin-beam">     </i>  Trophies & Badges
                            </h2>
                        </div>
                        <!-- /.tab-pane Trophies badges-->
                        <div class="card-body">
                            @if (@Model.BadgesObtained.Count() == 0)
                            {
                                <div class="alert alert-info">
                                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                     You did not win a Badge YET!
                                </div>

                            }
                            <div class="tab-pane" id="timeline">

                                <table class="table table-striped projects">
                                    <thead>
                                        <tr>
                                            <th style="width: 1%">

                                            </th>
                                            <th style="width: 20%">
                                                Badge Title
                                            </th>
                                            <th style="width: 30%">
                                                Badge Icon
                                            </th>
                                            <th>
                                                Obtain Date
                                            </th>

                                            <th style="width: 20%">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.BadgesObtained)
                                        {
                                            <tr>
                                                <td>
                                                </td>
                                                <td>
                                                    <a>
                                                        @item.Badge.Title winner
                                                    </a>
                                                    <br />
                                                </td>
                                                <td>
                                                    <img alt="Avatar" class="table-avatar" src="/theme/dist/img/badge.png">
                                                </td>
                                                <td>
                                                    Obtained @item.ObtainedAt
                                                </td>
                                                <td class="project-actions text-right">

                                                    <a class="btn btn-primary btn-sm" href="@Url.Action("Details", "badge", new { idBadge = item.Id })">


                                                        View
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
