@model IList<ProjectF.ModelsDTOS.BadgeEntityDto>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">List Of badges</h1>
                    <br />
                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" data-hover="dropdown">
                            + Add Badges  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="nav-link" asp-controller="Badge" asp-action="Create">
                                    Add Badges For systems
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link">
                                   Add Badges For Votes
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-6">
                        <div class="timeline timeline-inverse">
                            <div class="card">
                                <div class="card-body">
                                    <div class="col-12">
                                        <img src="/theme/dist/img/@item.Icon" class="product-image-thumbs" width="80" alt="Product Image"><br />
                                        <h3 class="card-title"><b>Badge Title : @item.Title</b></h3><br />
                                        <hr />
                                        <div class="time-label">
                                            <span class="bg-danger">
                                                <small>Created : @item.Created</small>
                                            </span>
                                        </div>
                                        <p class="card-text">
                                            Badge Criteria : <strong>@item.BadgeCriteria</strong>
                                            <h6> Systeme : @item.Systeme.SystemName</h6>
                                            Badge Description : @item.Description
                                        </p>
                                    </div>
                                    <hr />
                                    <div class="align-content-xl-stretch">
                                        <a href="#" class="btn btn-primary">Publish</a>
                                        <a href="#" class="btn btn-outline-secondary">Update</a>
                                        <a href="#" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                }
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
